@*@model IEnumerable<SHBC_SNN.Models.SnnCase> // Change when implementing a View Model.*@
@model IEnumerable<SHBC_SNN.Models.SnnCaseViewModel>
@{
    ViewBag.Title = "Home Page";
}

<form method="get"> @*Get displays in query string so user can bookmark, but don't use when writing data.*@
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search By Address" />
</form>

@foreach (var item in Model)
{
    <div>
        <h4>@item.Id</h4>
        <div>@item.CaseNo, @item.Address, @item.Uprn</div>
        <div>
            Contacts: @item.CountOfContacts
        </div>
        <hr />
    </div>
    // Place some on the page for testing purposes. Then if you build a database will be created.
}
