@model snn.Models.Case

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Case @Html.DisplayFor(model => model.CaseNumber)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address.FullAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.FullAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseStatus.StatusDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseStatus.StatusDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseType.TypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseType.TypeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressChangeIntelligence.AddressChangeIntelligenceDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressChangeIntelligence.AddressChangeIntelligenceDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CaseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
