@model IEnumerable<snn.Models.Address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SaonNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaonTxt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaonNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaonTxt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostTown)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.County)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uprn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SaonNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaonTxt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaonNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaonTxt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Locality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostTown)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.County)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uprn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AddressID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AddressID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AddressID })
        </td>
    </tr>
}

</table>
